

:root{
	--main-color:#275efe;
	--background-color: #E4ECFA;
	--main-hover: #184fee;
}

html{height: 100%;}
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--background-color);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  min-height: 100%;
}
a{color: var(--main-color);}
a:hover{color: var(--main-color);}
.login-page{
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem 0;
}
.container{width: 100%;}
.card-title{
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.form-signin {
  max-width: 330px;
  padding: 32px;
  margin: 0 auto;

  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 1.5rem;
  width: 100%;}
.form-group{display: block;margin-bottom: 16px;}
.form-label{display: block;margin-bottom: 6px;font-weight: 600;font-size: 14px;}
.form-signin .checkbox {font-weight: normal;}

.btn-primary{background-color: var(--main-color);border-color:var(--main-color); }
.btn-primary:hover{background-color: var(--main-hover);border-color: var(--main-hover); }


